.raycast-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2430;
  flex-direction: column;
  .raycast-scene__title {
    font-family: monospace;
    font-size: 3.2rem;
    color: #f9f2ed;
  }
  .raycast-scene__canvas {
    width: 90%;
    height: 80%;
    background-color: #f9f2ed;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}
